.events-timeline-wrapper {
  background-color: rgb(69,89,97);
  padding: 8px 5px;
  border-radius: 8px;
}

.events-timeline-container {
  background-color: rgb(54,70,79);
  height: 13px;
  border-radius: 5px;
  position: relative;
}
